.signup-container,.signin-container{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .signup-header,.signin-header{
      color:var(--primary-color);
      font-weight: bold;
  }
  form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding:30px;
  }
  .signup-input,.signin-input{
      border-radius: 10px;
      margin-bottom: 12px;
     
  }
  .signup-input input,.signin-input input{
      width:300px;
      height:30px;
  }
  .signup-input input::placeholder ,.signin-input input::placeholder{
      color:var(--off-black);
      font-weight:200;
  }
  .signup-btn,.signin-btn{
      width:300px;
      height:30px;
      cursor: pointer;
      border-radius: 4px;
      border: none;
      background-color:var( --primary-color) ;
      font-weight: bold;
  }
  .signin-guest-btn{
      width:300px;
      height:30px;
      cursor: pointer;
      border-radius: 4px;
      font-weight:bold;
      border-color:var(--primary-color);
  
  }
   a{
      color:var(--primary-color);
      font-weight: bold;
      text-decoration: none;
  }