.footer {
    bottom:0;
    margin: 0.3rem;
    background-color:var(--off-white);
  }
  .footer-container {
    margin: auto;
    max-width: 1080px;
    min-width: 980px;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }
  .footer-bottom-about-list{
    padding: 10px;
    width: 100px;
  }
  .footer-bottom-customer{
    padding:10px;
  }
  
  .footer-heading {
    margin-bottom: 30px;
    color:var(--secondary-color);
    font-size: 12px;
    font-weight: bold;
  }
  .footer-heading-items {
    list-style: none;
    color:var( --secondary-color);
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 5px;
    line-height: normal;
    gap:1.5px;
  }
  .footer-unordered-list{
    padding:0px;
  }
  .footer-bottom-connect {
    padding: 10px;
    width: 320px;
  }
  .connect-ions {
    text-decoration: none;
    padding: 5px;
  } 
  .footer-bottom-return {
    padding: 5px;
  }
  .footer-section , .footer-section-two {
    display: flex;
    align-items: center;
    gap:10px;
  }
  .footer-promises,.footer-return{
    font-size: 14px;
    color:var( --secondary-color);
  }
  strong {
    font-weight: 900;
    font-size: 15px;
    color:var( --secondary-color);
  }
  .footer-owner {
    text-align: center;
    color:var( --secondary-color);
    font-size: 12px;
    font-weight: bold;
  }
  @media screen and (min-width: 600px) and (max-width: 991px){
  .footer-bottom-about-list,.footer-bottom-customer{
    padding: 10px;
    width: 100px;
  }.footer-bottom-connect {
    padding: 10px;
    width: 160px;
  }
}
@media screen and (max-width: 600px){
  .footer-bottom-about-list,.footer-bottom-customer{
    padding: 10px;
    width: 50px;
  }.footer-bottom-connect {
    padding: 10px;
    width: 100px;
  }

}